@model BLL.DataTransferObjects.UserDtos.CreateUserDTO;

<h2>Rejestracja:</h2>

<form method="post" asp-controller="User" asp-action="Register">
    <div>
        <label asp-for="Name">Nazwa użytkownika:</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="Email">Adres E-mail:</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="Password">Hasło:</label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password" style="color: red;"></span>
    </div>
    <br />
    <div>
        <label asp-for="ConfirmedPassword">Powtórz hasło:</label><br />
        <input type="password" asp-for="ConfirmedPassword" />
        <span asp-validation-for="ConfirmedPassword" style="color: red;"></span>
    </div>
    <br />
    <input type="submit" value="Zarejestruj się" />
</form>
<br /> <br />

<a asp-controller="User" asp-action="Login" class="btn btn-primary">Wróć do ekranu logowaniaV2</a>