.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Wysokość na całą wysokość widoku */
}

.center-card {
  width: 75%; /* 3/4 szerokości strony */
  margin: 0 auto; /* Wyśrodkowanie na stronie */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapped-content {
  white-space: pre-wrap; /* Zawijanie tekstu */
  font-size: 1.6rem; /* Rozmiar czcionki */
}

.square-image {
  min-width: 10rem; /* Minimalna szerokość obrazka */
  min-height: 10rem; /* Minimalna wysokość obrazka */
  max-width: 15rem; /* Maksymalna szerokość obrazka */
  max-height: 15rem; /* Maksymalna wysokość obrazka */
  object-fit: cover; /* Dopasowanie obrazka do wymiarów */
}

.video-container {
  width: 40%;
  height: 40%;
}

#chat-messages {
  padding: 0.2rem;
  padding-top: 0.6rem;
  max-height: 24rem;
  overflow-y: auto;
}

.col-md-8 {
  height: 42.5rem;
}


.chat-message {
  margin-bottom: 20px;
}

.chat-message .chat-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-message-header button {
  display: block;
  margin-top: 5px;
}

.chat-message .chat-message-header .chat-message-sender {
  font-weight: bold;
}

.chat-message .chat-message-body img {
  max-width: 100%;
  margin-bottom: 10px;
}

.chat-message .chat-message-body video {
  max-width: 100%;
  margin-bottom: 10px;
}

.col-md-8 {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.form-group
{
  padding-top: 10px;
  padding-bottom: 5px;
}

.form-group .form-control
{
  padding-top: 10px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.button-group button {
  margin: 5px;
}
