@model BLL.DataTransferObjects.MessageDtos.CreateTextMessageDTO;

<h2>Zawartość</h2>

<form asp-controller="TextMessage" asp-action="Create">
	<div class="form-group">

		<div class="input-group-append">
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="resize: none;" placeholder="Wiadomosc" aria-label="Wiadomosc" aria-describedby="basic-addon2" asp-for="Content"> </textarea>
			<span asp-validation-for="Content" style="color: red;"></span>
			<input type="hidden" asp-for="ChatId" value="@ViewBag.ChatId"/>
			<input type="hidden" asp-for="SenderId" value="@ViewBag.SenderId"/>
		</div>

		<div>
			<input src="https://static.vecteezy.com/system/resources/previews/018/930/708/original/telegram-logo-telegram-icon-transparent-free-png.png" type="image" height="80" width="80" alt="Submit Form"/>
		</div>

	</div>

</form>

<br/>

<a asp-controller="Chat" 
   asp-action="Get" 
   asp-route-userId="@ViewBag.SenderId" 
   asp-route-chatId="@ViewBag.ChatId" 
   asp-route-pageNumber="1" class="btn btn-primary">Anuluj</a>