@model BLL.DataTransferObjects.MessageDtos.CreateTextMessageDTO;

<h2>Zawartość</h2>

<form asp-controller="TextMessage" asp-action="Create">
    <textarea asp-for="Content"></textarea>
    <span asp-validation-for="Content" style="color: red;"></span>
    <input type="hidden" asp-for="ChatId" value="@ViewBag.ChatId"  />
    <input type="hidden" asp-for="SenderId" value="@ViewBag.SenderId" />
    <input type="submit" value="Wyślij"/>
</form>

<a asp-controller="Chat" asp-action="Get" asp-route-userId="@ViewBag.SenderId" asp-route-chatId="@ViewBag.ChatId" asp-route-pageNumber="1" class="btn btn-primary">Anuluj</a>