.container {
    padding-left: 3.5rem;
    max-width: 75rem;
}

.custom-card-header {
    padding-top: 1.1rem;
    padding-bottom: 0.6rem;
    background-color: #0f40ee;
    color: white;
}

.list-group-item {
  border: black;
}

.offcanvas {
  transition: transform 0.3s ease-in-out;
}

