<div class="center-container">
  <mat-card class="center-card">
    <mat-card-content class="wrapped-content">
      <mat-list>
        <mat-list-item *ngFor="let text of textMessages">
          <div mat-line>
            {{ text.content }}
          </div>
        </mat-list-item>
        <mat-list-item *ngFor="let file of files">
          <div *ngIf="isImage(file.name)">
            <img [src]="file.url" [alt]="file.name" class="square-image">
          </div>
          <div *ngIf="isGif(file.name)">
            <img [src]="file.url" [alt]="file.name" class="square-image">
          </div>
          <div *ngIf="isVideo(file.name)">
            <video [src]="file.url" controls></video>
          </div>
          <div *ngIf="isAudio(file.name)">
            <audio [src]="file.url" controls></audio>
          </div>
          <div *ngIf="isOtherFile(file.name)">
            <a [href]="file.url" download>{{ file.name }}</a>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
